img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: bottom;
}

.row {
    justify-content: space-evenly;
}

.col-sm {
    padding: 0;
}

.img-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

